@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Flex", system-ui;
}

body {
  line-height: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@layer components {
  .swiper-pagination-custom {
    @apply flex justify-center gap-x-2;
  }

  .swiper-pagination-bullet-custom {
    @apply w-2 h-2 bg-gray rounded-full;
  }

  .swiper-pagination-bullet-active {
    @apply bg-outline;
  }

  .btn-hovered {
    @apply hover:bg-secondary border border-outline transition ease-in-out hover:text-outline;
  }
  .btn-hovered-inverted {
    @apply hover:bg-outline border border-secondary transition ease-in-out hover:text-white;
  }
}
